## Lecture 2

In [11]:
var_one=1

In [12]:
var_two=3

In [14]:
print(var_one + var_two)

4

In [15]:
third_var=var_one + var_two

In [16]:
print(third_var)

4

In [18]:
third_var=var_one - var_two

In [19]:
print(third_var)

-2

In [21]:
third_var=var_one * var_two

In [22]:
print(third_var)

3

In [23]:
third_var=var_one / var_two
print(third_var)

0.3333333333333333

In [24]:
third_var=var_two/var_one
print(third_var)

3.0

In [25]:
third_var=var_two//var_one
print(third_var)

3

In [27]:
var_one=1.0
var_two=3.0
third_var=var_two/var_one
print(round(third_var))

3

In [30]:
print(2**3)

8

In [33]:
print(5%2)

1

In [34]:
#odd or even

In [ ]:
right=True
wrong=False

In [40]:
var_one=1

In [38]:
print(var_one)

1

In [43]:
var_one="Rohit"

In [41]:
print(var_one)

1

In [44]:
type(var_one)

str

In [45]:
var_one='Rohit'

In [46]:
type(var_one)

str

In [50]:
var_one='Rohit\nis\na\nboy'
print(var_one)

Rohit
is
a
boy

In [ ]:
******
*****
****
***
**
*

In [53]:
# var_one='a'
var_one='\x41'

In [54]:
print(var_one)

A

In [60]:
st_one="Ram" 
spaces="       "
st_two="Duvaarak"
print(st_one+spaces+st_two)

Ram       Duvaarak

In [69]:
candies=5
pastry=4
# string_one="Ram has following no. of candies :"
print(f"Ram has following no. of candies : {candies} {pastry} ")

Ram has following no. of candies : 5 4

In [75]:
str_1="2"
print(type(str_1))
str_2="5"
str_1=int(str_1)
str_1=str(str_1)

print(type(str_1))
str_2=int(str_2)
print(str_1+str_2)

<class 'str'>
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [ ]:
var_name=new_type(the_value_that_is_to_be_converted)

In [80]:
user_input=int(input("Enter a number"))
print(user_input)
print(type(user_input))

Enter a number6
6
<class 'int'>

In [91]:
for i in range(6,10):
    print(i)

6
7
8
9

In [90]:
print(len(range(0,10)))

10

In [93]:
var_one=int(input())

if var_one%2==1:
    print("odd check")
    print("Weird")
if var_one%2==0:
    if var_one in range(2,6):
        print("even check 2-5")
        print("Not Weird")
    elif var_one in range(6,21):
        
        print("even check 6-20")
        print("Weird")
    else:
        print("even check var>20")
        print("Not Weird")

-6
even check var>20
Not Weird

In [105]:
print(type(20%16))
print(20%16)

<class 'int'>
4

In [107]:
print(20%2)

0

In [106]:
print(21%2)

1

In [ ]:
var_one=int(input())
if var_one<0:
    int(input())
if var_one%2==1 and var_one>0 :
    print("Weird")
elif var_one in range(2,6):
    print("Not Weird")
elif var_one in range(6,21):
    print("Weird")    
    
elif var_one>20:
    print("Not Weird")
else:
    pass

-5

In [ ]:
"2 4 5 6"
2
3
56