# Tuples
* Tuple is a collection of Python objects much like a list. The sequence of values stored in a tuple can be of any type, and they are indexed by integers.

* A tuple is a collection which is ordered and unchangeable.

* Tuples are written with round brackets.

In [1]:
# Example

# Create a Tuple:
[],{},()

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [13]:
a=1,2,3,
print(a)

(1, 2, 3)

# Creating tuple

In [3]:

#Creating an empty Tuple 
Tuple1 = () 
print("Initial empty Tuple: ") 
print (Tuple1) 
  
#Creating a Tuple with the use of string 
Tuple1 = ('Geeks', 'For') 
print("\nTuple with the use of String: ") 
print(Tuple1) 
  
# Creating a Tuple with the use of list 
list1 = [1, 2, 4, 5, 6] 
print("\nTuple using List: ") 
print(tuple(list1)) 
  
#Creating a Tuple with the use of built-in function 
Tuple1 = tuple('Geeks') 
print("\nTuple with the use of function: ") 
print(Tuple1)

Initial empty Tuple:
()

Tuple with the use of String:
('Geeks', 'For')

Tuple using List:
(1, 2, 4, 5, 6)

Tuple with the use of function:
('G', 'e', 'e', 'k', 's')

# Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [5]:
tuple=("Hello", "Hi", "Hey")
print(tuple[0])

Hello

# Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

# Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

# Allow Duplicates

Since tuple are indexed, tuples can have items with the same value:

In [6]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Tuple Length

To determine how many items a tuple has, use the len() function:

In [9]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

# Create Tuple With One Item

To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize 
it as a tuple.

In [17]:
thistuple = "apple",'rose',
print(thistuple) 
print(type(thistuple))

apple
<class 'str'>

# Tuple Items - Data Types

Tuple items can be of any data type:

In [15]:
tuple1 = ("apple", "banana", "cherry")  #string
tuple2 = (1, 5, 7, 9, 3)                #integer
tuple3 = (True, False, False)           # boolean

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

# A tuple can contain different data types:

In [16]:
# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

# type()
tuples are defined as objects with the data type 'tuple':
<class 'tuple'>

In [17]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

# The tuple() Constructor

It is also possible to use the tuple() constructor to make a tuple.

In [1]:
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

In [24]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

# Negative Indexing

Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [25]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

# Range of Indexes

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [26]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [27]:
# returning item from begining to a particular index
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [28]:
# returning items from a given index to end 
# By leaving out the end value, the range will go on to the end of the list:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[3:])

('orange', 'kiwi', 'melon', 'mango')

# Range of Negative Indexes

Specify negative indexes if you want to start the search from the end of the tuple:

In [29]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

#Negative indexing means starting from the end of the tuple.

#This example returns the items from index -4 (included) to index -1 (excluded)

#Remember that the last item has the index -1,

('orange', 'kiwi', 'melon')

# Check if Item Exists

To determine if a specified item is present in a tuple use the in keyword:

In [30]:
# Check if "apple" is present in the tuple:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Update Tuples
Tuples are unchangeable, meaing that you cannot change, add, or remove items once the tuple is created.

# Change Tuple Values

Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a 
tuple.

In [2]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

# Add Items

Once a tuple is created, you cannot add items to it.

In [32]:
thistuple = ("apple", "banana", "cherry")
thistuple.append("orange") # This will raise an error

print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

# Remove Items
You cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

you can delete the tuple completely

In [33]:
# The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined


# Unpack Tuples

# Unpacking a Tuple

When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [34]:
# Packing a tuple:
fruits = ("apple", "banana", "cherry")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

In [18]:
# Unpacking a tuple:
fruits = ("apple", "banana", "cherry")

(green, yellow) = fruits

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 2)

The number of variables must match the number of values in the tuple, if not, you must use an asterix to collect the remaining values as a list.

# Using Asterix*

If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [36]:
# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green) 
print(yellow)
print(red)

#Eg.
input_=9,2,3
range_,*val=input_

apple
banana
['cherry', 'strawberry', 'raspberry']

In [21]:
# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, red) = fruits

print(green) 
print(type(yellow))
print(red)

apple
<class 'list'>
raspberry

In [20]:
# Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, *yellow, *red) = fruits

print(green) 
print(yellow)
print(red)

SyntaxError: two starred expressions in assignment (<ipython-input-20-d2af2764b05a>, line 4)


If the asterix is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [37]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# Loop Through a Tuple

In [39]:
# You can loop through the tuple items by using a for loop
# Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

# Loop Through the Index Numbers

You can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [40]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
      print(thistuple[i])

apple
banana
cherry

# Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

Remember to increase the index by 1 after each iteration.

In [22]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

# Join Tuples

To join two or more tuples you can use the + operator:

In [42]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

# Multiply Tuples

If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [43]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#                   Built-In Methods

Built-in Function 	                          Description

all() 	------------------------------Returns true if all element are true or if tuple is empty
any() 	------------------------------return true if any element of the tuple is true. if tuple is empty, return false
len() 	------------------------------Returns length of the tuple or size of the tuple
enumerate() 	----------------------Returns enumerate object of tuple
max() 	------------------------------return maximum element of given tuple
min() 	------------------------------return minimum element of given tuple
sum() 	------------------------------Sums up the numbers in the tuple
sorted() 	--------------------------input elements in the tuple and return a new sorted list
tuple() 	--------------------------Convert an iterable to a tuple